In [1]:
# importing librarires
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df =  pd.read_csv('./DS_TheBridgeBBK_SBIL2023/taller_data_fs-main/notebooks/housing.csv')

In [5]:
df.head()

,id,title,price,surface,bedrooms,restrooms,features,description,rent,location_name,is_province
0,8459,"Piso de alquiler en Rúa Eugenio Carre Aldao, O...",630,85,3,2,"3 habs.,2 baños,85 m²,2ª Planta",CURSO ESCOLAR. INTERNET INCLUIDO. Vivienda con...,1,A Coruña,1
1,8460,"Piso de alquiler en Rúa Rodrigo a de Santiago,...",450,70,3,1,"3 habs.,1 baño,70 m²,4ª Planta",Vivienda muy soleada de 3 habitaciones semiamu...,1,A Coruña,1
2,8461,"Piso de alquiler en Avenida Novo Mesoiro, Mesoiro",600,90,3,2,"3 habs.,2 baños,90 m²,Ascensor,Calefacción",Las tres habitaciones disponen de armario y ca...,1,A Coruña,1
3,8463,"Piso de alquiler en Rúa Rianxo, Cuatro Caminos...",650,80,3,1,"3 habs.,1 baño,80 m²",NaN,1,A Coruña,1
4,8464,"Piso de alquiler en Rúa Rianxo, Cuatro Caminos...",650,80,3,1,"3 habs.,1 baño,80 m²,Ascensor,Calefacción",NaN,1,A Coruña,1

In [12]:
display(df['location_name'].unique())
display(df['rent'].min())

array(['A Coruña', 'Alacant', 'Albacete', 'Almería', 'Araba', 'Asturias',
       'Ávila', 'Badajoz', 'Barcelona', 'Bizkaia', 'Burgos', 'Cáceres',
       'Cádiz', 'Cantabria', 'Castelló', 'Ciudad Real', 'Córdoba',
       'Cuenca', 'Gipuzkoa', 'Girona', 'Granada', 'Guadalajara', 'Huelva',
       'Huesca', 'Illes Balears', 'Jaén', 'La Rioja', 'Las Palmas',
       'León', 'Lleida', 'Lugo', 'Madrid', 'Málaga', 'Murcia', 'Navarra',
       'Ourense', 'Palencia', 'Pontevedra', 'Salamanca',
       'Santa Cruz de Tenerife', 'Segovia', 'Sevilla', 'Soria',
       'Tarragona', 'Teruel', 'Toledo', 'Valencia', 'Valladolid',
       'Zamora', 'Zaragoza'], dtype=object)

1

SEPARAMOS LOS DATOS PARA QUE TRABAJE EL MODELO PREDICTIVO

In [13]:
df_precio=df['price']
df_machine=df[['surface','bedrooms','restrooms','location_name']]

In [21]:
df_machine['location_name'].value_counts()

location_name
Madrid                    17119
Barcelona                 14592
Valencia                   5865
Granada                    5059
Alacant                    4375
Málaga                     4226
Sevilla                    3154
A Coruña                   2999
Cádiz                      2670
Córdoba                    2461
Asturias                   2420
Murcia                     2317
Salamanca                  2284
Cantabria                  2037
Illes Balears              1982
Las Palmas                 1835
Bizkaia                    1805
Pontevedra                 1763
Almería                    1473
Tarragona                  1397
Santa Cruz de Tenerife     1305
Zaragoza                   1305
Castelló                   1255
Badajoz                    1136
Valladolid                 1130
Girona                     1122
Toledo                     1082
Jaén                       1002
Ourense                     905
Burgos                      861
León                        845
Huelva                      809
Lleida                      801
Ciudad Real                 723
Albacete                    632
Cáceres                     608
Gipuzkoa                    517
La Rioja                    448
Navarra                     438
Lugo                        408
Segovia                     339
Palencia                    328
Guadalajara                 320
Ávila                       262
Huesca                      232
Zamora                      182
Araba                       168
Cuenca                      155
Teruel                      125
Soria                        89
Name: count, dtype: int64

In [23]:
df_machine.isna().sum()

surface          0
bedrooms         0
restrooms        0
location_name    0
dtype: int64

In [24]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [ ]:

# Definir las variables predictoras X y la variable objetivo y
X = df[['surface', 'bedrooms', 'restrooms']]
y = df['price']

# Dividir los datos en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Crear una instancia del modelo
model = LinearRegression()

# Entrenar el modelo con los datos de entrenamiento
model.fit(X_train, y_train)

# Realizar predicciones con los datos de prueba
y_pred = model.predict(X_test)

# Calcular el error cuadrático medio (MSE) para evaluar el rendimiento del modelo
mse = mean_squared_error(y_test, y_pred)